%TMPL:INCLUDE{view}%
%TMPL:INCLUDE{tagsplugin}%

%TMPL:DEF{"tagsplugin:jquery:header"}%
<literal>
  <div id="tagsplugin">
    <div id='tagsplugin_view_basic'>
      %TMPL:P{"tagsplugin:jquery:taginput"}%
      %TMPL:P{"tagsplugin:jquery:taglist"}%
      %TMPL:P{"tagsplugin:jquery:processing"}%
    </div> <!-- tagsplugin_view_basic -->

    <div id='tagsplugin_tagcloud'>
      <div id='tagsplugin_filters'>
        %TMPL:P{"tagsplugin:jquery:webselector"}%
        %TMPL:P{"tagsplugin:jquery:clear"}%
        %TMPL:P{"tagsplugin:jquery:userselector"}%
        %TMPL:P{"tagsplugin:jquery:clear"}%
      </div> <!-- tagsplugin_filters -->

      <div id='tagsplugin_tagcloud_tags'></div> <!-- tagsplugin_tagcloud_tags -->
    </div> <!-- tagsplugin_tagcloud -->
  </div> <!-- tagsplugin -->
  %TMPL:P{"tagsplugin:clear"}%
</literal>
%JQREQUIRE{"ui"}%
%JQREQUIRE{"autocomplete"}%
<script type="text/javascript" src="%PUBURL%/System/TagsPlugin/tagsplugin-base.js"></script>
%TMPL:END%

%TMPL:DEF{"contentheader"}%%TMPL:P{"tagsplugin:jquery:header"}%%TMPL:END%
