%TMPL:INCLUDE{view}%
%TMPL:INCLUDE{tagsplugin}%

%TMPL:DEF{"tagsplugin:jquery:header"}%
<literal>
<!-- 
  TMPL:P{"LIBJS" id="TAGSPLUGIN:base" path="TagsPlugin/tagsplugin-base" requires="FOSWIKILIB,FOSWIKILIB:Pref"}%
  TMPL:P{"LIBJS" id="TAGSPLUGIN:tagentry" path="TagsPlugin/tagsplugin-tagentry" requires="TAGSPLUGIN:base"}%
  TMPL:P{"LIBJS" id="TAGSPLUGIN:tagcloud" path="TagsPlugin/tagsplugin-tagcloud" requires="TAGSPLUGIN:base"}%
-->

  <script type="text/javascript" src="%PUBURL%/System/TagsPlugin/tagsplugin-base.js"></script>
  <script type="text/javascript" src="%PUBURL%/System/TagsPlugin/tagsplugin-tagentry.js"></script>
  <script type="text/javascript" src="%PUBURL%/System/TagsPlugin/tagsplugin-tagcloud.js"></script>

  <div id="tagsplugin" class="%IF{"$ TAGSPLUGIN_TOPBAR_DISABLE='1'" then="tagsplugin_hide"}%">
    <div id='tagsplugin_view_basic'>
      <div id='tagsplugin_view_basic_content'>
        %TMPL:P{"tagsplugin:jquery:processing"}%
        %TMPL:P{"tagsplugin:jquery:taginput"}%
        %TMPL:P{"tagsplugin:jquery:taglist"}%
      </div>
    </div> <!-- tagsplugin_view_basic -->

    <div id='tagsplugin_tagcloud'>
      <div id='tagsplugin_tagcloud_content'>
	      <div id='tagsplugin_filters'>
	        %TMPL:P{"tagsplugin:jquery:webselector"}%
	        %TMPL:P{"tagsplugin:jquery:userselector"}%
	      </div> <!-- tagsplugin_filters -->
	
	      <div id='tagsplugin_tagcloud_tags' class="tagplugin_update_observer"></div> <!-- tagsplugin_tagcloud_tags -->
	   </div>   
    </div> <!-- tagsplugin_tagcloud -->
  </div> <!-- tagsplugin -->
  %TMPL:P{"tagsplugin:jquery:clear"}%
</literal>
%JQREQUIRE{"ui"}%
%JQREQUIRE{"autocomplete"}%
%TMPL:END%

%TMPL:DEF{"contentheader"}%%TMPL:P{"tagsplugin:jquery:header"}%%TMPL:END%
