%TMPL:INCLUDE{view}%

%TMPL:DEF{"contentheader"}%<span class="foswikiTagsPlugin">
    <span class="foswikiGrayText">Tags:</span>    
    %TAGENTRY%    %TAGLIST{
        show="all" 
        type="topic" 
        item="%BASEWEB%.%BASETOPIC%" 
        separator=" " 
        format="[[%SCRIPTURL{view}%/$percntURLENCODE{$tag}$percnt][$tag]]"
     }%
     %JQREQUIRE{"autocomplete"}%
     <script type="text/javascript">
        (function($){ 
          $(function(){
            // $("#foswikiTagsPluginEntryForm").submit(function(event) {
            //    x = $("#foswikiTagInput").val();
            //    alert(x);
            //    event.preventDefault();
            //});
            $("#foswikiTagInput").autocomplete("%SCRIPTURL{view}%/%SYSTEMWEB%/TagsPluginTagEntrySearch", {
                extraParams: { skin:"text", cover:"text" },
                multiple:    false,
                highlight:   false,
                autoFill:    true, 
                selectFirst: false,
                formatItem:  function(row, index, max, search) { 
                    return row[0]; 
                },
                formatResult: function(row, index, max) {
                    return row[0];
                } 
            });
          });
        })(jQuery);
     </script>
    </span>%TMPL:END%
